{
  "extends": "lifion",
  "overrides": [
    {
      "files": ["lib/index.js"],
      "rules": {
        "no-underscore-dangle": [
          "warn",
          {
            "allow": ["_transform"],
            "allowAfterSuper": false,
            "allowAfterThis": false,
            "enforceInMethodNames": true
          }
        ]
      }
    }
  ]
}
