{
  "extends": "./node_modules/core-commons/shared/eslint.json",
  "rules": {
    "no-secrets/no-secrets": ["error", { "ignoreContent": ["SubscribeToShardEvent"] }]
  },
  "overrides": [
    {
      "files": ["lib/index.js"],
      "rules": {
        "no-underscore-dangle": [
          "warn",
          {
            "allow": ["_transform"],
            "allowAfterSuper": false,
            "allowAfterThis": false,
            "enforceInMethodNames": true
          }
        ]
      }
    }
  ]
}
